ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    background-color: lightgreen;
    color: gray;
    font-family: sans-serif;
}

li {
    padding: 0 20px;
}